{% load static %}
<!DOCTYPE html>
<html>
<head>
	 <title>Forms</title>
     <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
      <h1>HTML FORMS</h1>
      <form>
      	 <fieldset>
      	 	<legend >LOGIN Here</legend>
      	 	<table>
      	 	<tr>
      	 		<td><label id="one">Username</label></td>
      	 		<td>
      	 			<input type="Text"/>
      	 		</td>
      	 	</tr>
      	 	<tr>
      	 	<td><label id="two">Password</label></td>
      	 	<td><input type="Password">
      	 	</td>
      	 </tr>
      	 <tr>
      	 	<td colspan="2" align="Center">
      	 		<input type="submit"/>
      	 		<input type="reset"/>
      	 	</td>
      	 </tr>	
</fieldset>
</form>
</table>
</body>
</html>