{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="css/c1.css">

</head>
<body>
    <header>
        <h1>Indian Cricketers</h1>

        <div id="links-section">
            <a href="">Rohit Sharma</a>
            <a href="">Virat Kohil</a>
            <a href="">KL Rahul</a>
            <a href="">MS dhoni</a>
        </div>
    </header>
    <div id="landing-page">
        <div id="content-section">
            <h1>All The Best Team India</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quisquam eveniet eius dolore numquam molestiae similique cupiditate saepe veritatis incidunt Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, voluptas incidunt. Atque fugiat sit aliquam doloribus, tempore nostrum? Veniam,
            </p>
            <button>Watch Live</button>

        </div>

    </div>
    <section id="intro-section">
        <h1>Enjoy The World Cup</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi numquam nam ipsam vel voluptatum inventore voluptatem ad dolor quis eos! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, ducimus.</p>
        <button>Watch Live Matches</button>
    </section>
    <!-- indian 11 -->
    <section id="players-section">
        <h1>Indian Playing Eleven</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere velit illo, corporis error hic mollitia quo, blanditiis asperiores expedita dolorum eum vel aspernatur? Earum, natus harum tempore suscipit sed magnam! Recusandae corporis iusto ex temporibus voluptatum eos error laboriosam quisquam?</p>
        <div>
            <img src="image/rohit.jpeg"  alt="image not found">
            <img src="image/virat.jpeg"  alt="image not found">
            <img src="image/kl.jpeg"     alt="image not found">
            <img src="image/dhoni.jpeg"  alt="image not found">
            <img src="image/shub.jpeg"   alt="image not found">
            <img src="image/har.jpeg"    alt="image not found">
        </div>
    </section>
    <!-- batsmens -->
    <section id="batsmen-section">
        <h1>Top Order Batsmen's</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi unde explicabo ducimus rem, recusandae incidunt nihil neque dignissimos consequatur! Quos, molestias dicta fuga aliquam quidem sit est quibusdam, quod enim doloribus laudantium et. Reprehenderit corrupti eum dolorum, minus ipsa nulla.</p>

        <figure>
            <img src="image/shub.jpeg" alt="">
            <figcaption>Subhman Gill</figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas natus maiores dolore tempora dolorem accusantium minus blanditiis repudiandae facilis, numquam quidem adipisci cupiditate voluptatem, unde ad. Quod, accusamus repudiandae. Eligendi!</p>
            <button>View Details</button>
        </figure>
        <figure>
            <img src="image/shub.jpeg" alt="">
            <figcaption>Subhman Gill</figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas natus maiores dolore tempora dolorem accusantium minus blanditiis repudiandae facilis, numquam quidem adipisci cupiditate voluptatem, unde ad. Quod, accusamus repudiandae. Eligendi!</p>
            <button>View Details</button>
        </figure>
        <figure>
            <img src="image/shub.jpeg" alt="">
            <figcaption>Subhman Gill</figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas natus maiores dolore tempora dolorem accusantium minus blanditiis repudiandae facilis, numquam quidem adipisci cupiditate voluptatem, unde ad. Quod, accusamus repudiandae. Eligendi!</p>
            <button>View Details</button>
        </figure>

    </section>
</body>
</html>