<!DOCTYPE html>
<html>
<head>
	<h1>JSPIDERS Emp Info:-</h1>
	<table border = "2px" cellpadding="20px" cellspacing="10px">
		<thead>
			<tr>
				<th>EMPID</th>
				<th>EMPNAME</th>
				<th>EMPDESG</th>
			</tr>
		</thead>
	<tbody>
	        <tr>
	           <td>JSp101</td>
	           <td>Sairaj</td>
	           <td rowspan="3"> Sn.trainer</td>
	         </tr>
	         <tr>
	         	<td>JSP102</td>
	            <td>ram</td>
	           
	         </tr>
	         <tr>
	         	<td>JSp103</td>
	           <td>Arjit</td>
	          
	        </tr>   


	</tbody>
</table>
</head>

</html>